.message {
    width: 40%;
    margin-left: 60%;
}

.imageAndText {
}

.imageAndText img {
    float: right;
    width: 40px;
}

.text {
    padding: 5px;
    width: 85%;
    background-color: #0066CC;
    border-radius: 5px;
    color: #fff;
    min-height: 3em;
}

.text:after {
}

.name {
    font-size: 12px;
    text-align: right;
}

.messageText {
    white-space: normal;
    text-align: justify;
}

.time {
    text-align: right;
    font-size: 12px;
}