.buttonsContainer {
    outline: 1px solid red;
    display: flex;
    gap:20px;
    white-space: nowrap;
}

.buttonsContainer button {
    width: 100%;
}

.responseContainer {
    outline: 1px solid red;
}

.imageContainer {
    outline: 1px solid red;
    height: 300px;
}

.image {
    outline: 1px solid red;
    height: 100%;
    width: 100%;
}

.textContainer {
    outline: 1px solid red;
}

.code {
    outline: 1px solid red;
    height: 20px;
}

.text {
    outline: 1px solid red;
    height: 20px;
}

.info {
    outline: 1px solid red;
    height: 20px;
}