.App {
    --header_height: 60px;
    max-width: 1024px;
    margin: 0 auto;

}

.hw {
    border-top:1px solid #D9D9D9;
    border-bottom:1px solid #D9D9D9 ;
    padding: 10px;    
}

.hwTitle {
    font-weight: bold;
    padding: 30px;
    font-size: 24px;
}
