.App {
    --header_height: 60px;
    width: 920px;
    margin: 0 auto;

}

.hw {
    border-top:1px solid red ;
    border-bottom:1px solid red ;
    padding: 10px;    
}

.hwTitle {
    font-weight: bold;
    padding: 30px;
    font-size: 24px;
}
