.friendMessage {
    width: 40%;
}

.friendImageAndText {
    display: flex;
    align-items: end;
    gap: 10px;
}

.friendImageAndText img {
    width: 12%;
}

.friendText {
    padding: 5px;
    width: 85%;
    background-color: #F5F7FB;
    position: relative;
    border-radius: 5px 5px 5px 0px;
    color: #000;
    min-height: 3em;
}

.friendText:after {
    width: 10px;
    height: 10px;
    content: "";
    position: absolute;
    /* background:radial-gradient(circle at 0 0, white 15px, #0066CC 0); */
    background: linear-gradient(-45deg, #F5F7FB 0%, #F5F7FB 50%, transparent 50%, transparent 100%);
    bottom: 0;
    left: -10px;
}

.friendName {
    font-size: 12px;
}

.friendMessageText {
    white-space: normal;
    text-align: justify;
    word-wrap: break-word;
}

.friendTime {
    font-size: 10px;
    padding-left: 8px;
}