.greetingForm {
    width: 80%;
}

.inputAndButtonContainer {
    display: flex;
}


.error {
    color: #CC0000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.input {
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    width: 52vw;
    max-width: 390px;
    min-width: 330px;
    height: 2rem;
    border-radius: 3px;
    outline: none;
}

.input:focus {
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    outline: none;
    border-radius: 5px;
    width: 52vw;
    max-width: 390px;
    min-width: 330px;
    color: #000000;
}

.errorInput {
    box-sizing: border-box;
    border: 1px solid #CC0000;
    border-radius: 5px;
    border-color: #CC0000;
    height: 2rem;
    width: 52vw;
    max-width: 390px;
    min-width: 330px;
}

.button {
    margin-left: 10px;
    background: #0066CC;
    border-radius: 3px;
    width: 20%;
    max-width: 80px;
    min-width: 50px;
    height: 2rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    color: #FFFFFF;
    outline: none;
    border:none;
}

.button:focus {
    opacity: 1;
}

.button:active {
    opacity: 1;
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;

}