.sendForm {
    margin-top: 20px;
    border-radius: 5px;
    /* padding: 20px; */
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.textarea {
    width: 80%;
    padding: 10px;
    resize: none;
    border: none;
    background-color: #F5F7FB;
    border-radius: 2.5em;
}

.button {
    background-color: #0066CC;
    height: 2.5em;
    border: none;
    border-radius: 2.5em;
    width: 12%;
    color: white;
    float: right;
}

.button:hover {
    color:red
}
.button:active {
    color: yellow
}
