.sendForm {
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
}

.textarea {
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    resize: none;
    border: none;
    background-color: #F5F7FB;
}

.button {
    margin-left: 30px;
    background-color: #0066CC;
    height: 2.5em;
    border: none;
    border-radius: 5px;
    width: 60px;
    color: white;
    float: right;
}

.button:hover {

}
.button:active {

}
